:root {
  /* --primary-green: #ddffe0;
  --dark-green: #425f57;
  --primary-purple: #ab59fd;*/
  --primary-yellow: #efdd4b;
  --primary-white: #fff;
  --primary-pink: #f000f5;
  --box-shadow: -5px -28px 100px 0px #c7e8ca inset,
    0px -13px 10px 0px #5d9c59 inset,
    20px 16px 10px 0px rgba(255, 249, 249, 0.3) inset,
    11px 15px 15px 0px rgba(0, 0, 0, 0.25);
  --transform-btn: scale(0.9);
  --transition-btn: 500ms all ease-in-out;
}

/* Custom Background CSS starts */

.App {
  background-image: url("./assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.menu,
.instruction,
.level,
.game,
.summary {
  width: 100%;
  height: 100vh;
}

.game {
  background-image: url(./assets/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* Custom Background CSS ends */

/* Menu Page CSS Start*/

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.menu-heading h1 {
  font-family: "Luckiest Guy", cursive;
  font-size: 8rem;
  letter-spacing: 8px;
  color: var(--primary-yellow);
  text-shadow: 8px 8px 8px var(--primary-pink);
}

.menu-btn {
  width: 120px;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  transition: var(--transition-btn);
}

.menu-btn img {
  width: 100%;
}

.menu-btn:hover {
  transform: var(--transform-btn);
}

/* Menu Page CSS End*/

/* Instruction Page CSS Starts */

.instruction {
  display: flex;
  justify-content: center;
  align-items: center;
}

.instruction-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  height: 500px;
  background: var(--primary-white);
  padding: 1rem 2rem;
  border-radius: 30px;
  box-shadow: var(--box-shadow);
}

.instruction-heading {
  font-family: "Luckiest Guy", cursive;
  font-size: 3rem;
  letter-spacing: 4px;
  color: var(--primary-yellow);
  text-shadow: 3px 3px 3px var(--primary-pink);
}

.instruction-text-item {
  width: 80%;
  display: flex;
  margin: 25px auto;
}

.instruction-text-item img {
  width: 30px;
  margin-right: 20px;
}

.instruction-text-item p {
  text-align: justify;
  font-size: 22px;
  font-weight: 900;
}

.instruction-btn {
  width: 150px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: var(--transition-btn);
}

.instruction-btn img {
  width: 100%;
}

.instruction-btn:hover {
  transform: var(--transform-btn);
}

/* Instruction Page CSS Ends */

/* Level Page CSS Starts */

.level {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.level-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 320px;
  background: var(--primary-white);
  padding: 2rem;
  border: 3px solid var(--primary-pink);
  border-radius: 50px;
  box-shadow: var(--box-shadow);
  margin-bottom: 2rem;
}

.level-box .level-heading {
  font-size: 1.6rem;
  font-family: "Luckiest Guy", cursive;
  color: var(--primary-yellow);
  text-shadow: 3px 3px var(--primary-pink);
  letter-spacing: 3px;
  margin-bottom: 2.5rem;
}

.level .level-box .radio-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}

.level .level-box .radio-item label {
  font-size: 2rem;
  font-family: "Luckiest Guy", cursive;
  letter-spacing: 3px;
  color: gray;
  text-shadow: 0.5px 0.5px 1px gray;
}

.level .level-box .radio-item input {
  appearance: none;
  border: 3px solid gray;
  background-color: gray;
  width: 40px;
  height: 40px;
  border-radius: 17px;
}

.level .level-box .radio-item input:checked {
  background-image: url("./assets/radio-btn.svg");
  background-size: 37px 37px;
  background-repeat: no-repeat;
}

.level .level-btn {
  width: 160px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: var(--transition-btn);
}

.level .level-btn:hover {
  transform: var(--transform-btn);
}

.level .level-btn img {
  width: 100%;
}

/* Level Page CSS Ends */

/* Game Page CSS starts */

.game {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
}

.game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;
  background: var(--primary-yellow);
  border-radius: 25px;
  width: 95%;
}

.game-pause-btn {
  height: 60px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: var(--transition-btn);
}

.game-pause-btn:hover {
  transform: var(--transform-btn);
}

.game-pause-btn img {
  height: 100%;
}

.game-timer-count {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-size: 25px;
  color: #ffffff;
}

.game_container {
  margin-top: 3rem;
  width: 85%;
  background: var(--primary-white);
  box-shadow: var(--box-shadow);
  padding: 4rem 2.5rem;
  border-radius: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
}

.game_container_control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game_container_control h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.75rem;
  font-weight: 900;
}

.player_btn {
  cursor: pointer;
  border-radius: 100%;
  width: 225px;
  height: 225px;
  border: none;
  box-shadow: 0px 50px 100px -20px rgba(50, 50, 93, 0.292),
    0px 30px 60px -30px rgba(0, 0, 0, 0.406),
    inset 0px -2px 6px 0px rgba(10, 37, 64, 0.445);
  transition: var(--transition-btn);
  background: #32D743;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  text-align: center;
  color: var(--primary-white);
  font-family: "Luckiest Guy", cursive;
}

.player_btn:hover {
  transform: scale(0.85);
}

.player_btn:nth-child(1) {
  background: #fe9655;
}

.game_answer_input {
  width: 50%;
  border-radius: 1rem;
  background: #FEF8C4;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  display: flex;
  align-items: center;
}

.game_answer_input label {
  background: var(--primary-white);
  padding: 1.2rem;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.208) inset;
  width: 30%;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Luckiest Guy', cursive;
  border-radius: 1rem 0rem 0rem 1rem;
}

.game_answer_input input {
  width: 70%;
  border: none;
  outline: none;
  font-size: 1.3rem;
  font-weight: 700;
  background: none;
  padding: 1rem;
}

.submit_Btn {
  margin-top: 2rem;
  background: none;
  border: none;
  outline: none;
  transition: var(--transition-btn);
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-btn);
  cursor: pointer;
}

.submit_Btn:hover {
  transform: var(--transform-btn);
}

.submit_Btn img {
  width: 100%;
}

/* Game Page CSS ends */

/* Summary Page CSS Starts */

.summary {
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary-box {
  width: 450px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: var(--primary-white);
  padding: 2rem;
  border: 4px solid var(--primary-pink);
  border-radius: 50px;
  box-shadow: var(--box-shadow);
}

.summary-box .summary-heading {
  font-size: 2.8rem;
  font-family: "Luckiest Guy", cursive;
  letter-spacing: 4px;
  color: var(--primary-yellow);
  text-shadow: 2px 2px var(--primary-pink);
  /* height: 30px; */
}

.summary-box .summary-star {
  width: 250px;
}

.summary-box .summary-level {
  font-weight: 900;
  font-size: 0.9rem;
  color: gray;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.summary-box .summary-score-box {
  width: 170px;
  background: #d9d9d9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  border-radius: 20px;
  padding: 15px 0;
}

.summary-box .summary-score-box h3 {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-size: 2.5rem;
  letter-spacing: 1px;
  text-align: center;
  color: #030303;
}

.summary-box .summary-score-subtitle {
  margin-top: 5px;
  margin-bottom: 2px;
  font-weight: 900;
  font-size: 1.3rem;
  color: gray;
  text-transform: uppercase;
}

.summary-btn button {
  width: 65px;
  margin: 10px;
  /* height: 70px; */
  outline: none;
  border: none;
  cursor: pointer;
  transition: var(--transition-btn);
  background: none;
}

.summary-btn button:hover {
  transform: var(--transform-btn);
}

.summary-btn img {
  width: 100%;
}
/* Summary Page CSS Ends */

/* Tablet Styles Start */

@media (min-width: 768px) and (max-width: 1024px) {
  /* Menu CSS for Tablet Starts */
  .menu-heading h1 {
    font-size: 6rem;
  }
  /* Menu CSS for Tablet Ends */

  /* Instruction CSS for Tablet Starts */
  .instruction-box {
    width: 85%;
  }
  .instruction-text-item {
    width: 95%;
  }
  /* Instruction CSS for Tablet Ends */
}

/* Tablet Styles End */
